@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

#main-container {

}

#main-nav {

}

#main-header {

}

footer {
    text-align: center;
}

.nav-pills {
    background-color: green;
}