{% extends 'templates/master.html.twig' %}

{% block body %}
    <ul>
        {% for episode in eps  %}
            <li><a href="{{ path('view_episode',{'epNum': episode.number}) }}">{{ episode.number }} - {{ episode.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}